@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container{
  color: rgb(255, 255, 255);
  border-bottom: 2px solid #b22222;
}
.navbar-container p:hover{
  /* color: rgb(167, 10, 10) */
  color: #b22222;
}
.menu-items{
  padding: 8px;
}
.menu-icon-wrapper{
  display: none;
}
.main-body{
  margin-top: 155px;
}








/****************Media Queries*************/
@media (max-width: 900px){
  .navbar{
    justify-content: space-between;
  }
  .logo-image{
    width: 80px;
    /* height: auto; */
  }
  .navbar p{
    display: none;
  }
  .menu-icon-wrapper, .hamburger-menu{
    display: inline;
  }
  .main-body{
    margin-top: 115px;
  }
}

@media (min-width: 898px){
  .menu-items-wrapper{
    display: none;
  }
}
