@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container{
  color: rgb(255, 255, 255);
  /* border-bottom: 2px solid #b22222; */
}
.navbar-container p:hover{
  /* color: rgb(167, 10, 10) */
  color: #b22222;
}
.menu-items{
  padding: 8px;
}
.menu-icon-wrapper{
  display: none;
}

/*************Main body - Home****************/
h1, h3{
  color: #b22222;
}
.principal-welcome-wrapper{
  border-top: 1px solid #b22222;
}
.principal-welcome-wrapper .principal-image{
  border-radius: 10px;
}
.values-wrapper{
  border-top: 1px solid #b22222;
}
.slideshow-section{
  background: #eee;
}
.footer-section{
  background-color: #b22222;
}
/***************About Us Page****************/
.about-wrapper{
  border-top: 1px solid #b22222;
}
.unordered-list{
  list-style: disc;
}
/***************Contact Page************************/
.contact{
  border-top: 1px solid #b22222;
}
/****************Admissions***********************/
.admissions-container .application-info{
  border-top: 1px solid #b22222
 }
 /******************************************/
 .staff-photos-container{
  border-top: 1px solid #b22222;
 }
 .teacher-img{
  border-radius: 10px;
 }
/***************Sign-in Page***********************/
.auth-container{
  height: 80vh;
  background-image: url("/banner-2-reduced.jpg");
  background-size: cover;
  opacity: 0.5;
}






/****************Media Queries*************/
@media (max-width: 900px){
  .navbar{
    justify-content: space-between;
  }
  .logo-image{
    width: 80px;
    /* height: auto; */
  }
  .navbar p{
    display: none;
  }
  .menu-icon-wrapper, .hamburger-menu{
    display: inline;
  }
  /**********************/
  .principal-welcome-wrapper{
    width: 99%;
    flex-direction: column;
    margin: 0;
    padding: 5px;
    /* padding-left: 5px;
    padding-right: 5px; */
  }
  .welcome-message, .value-wrapper{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
   /**********************/
  .values-wrapper{
    width: 100%;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
  }
   /**********************/
   .about-container{
    width: 100%;
   }
   .about-wrapper{
    flex-direction: column;
   }
   .about-wrapper .about-content{
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
   }
   .mision-vision-values-wrapper{
    flex-direction: column;
    padding: 10px;
    margin-top: 20px;
   }
   .mission-wrapper{
    width: 100%;
   }
   .vision-mission-wrapper{
    width: 100%;
   }
   .vision-wrapper{
    margin-top: 20px;
   }
   .about-values-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
   }
   /**********************/
   .admissions-container{
    width: 100%;
   }
  
   .admissions-container .how-to-apply, .xy{
    margin-left: 0;
    text-align: center;
   }
   .admissions-container .steps-wrapper{
    flex-direction: column;
    padding-left: 0;
   }
   .admissions-container .step-wrapper, .track-status-step div{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
   }
   .admissions-container .step-wrapper-even{
    margin-top: 32px;
   }
   .admissions-container .track-status-step{
    margin-left: 0;
   }
   /*************************/

}

@media (min-width: 898px){
  .menu-items-wrapper{
    display: none;
  }
}

@media (max-width: 500px){
  .principal-welcome-wrapper{
    margin: 0;
    width: 100%;
  }
}
